*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body{
    background-image: url(assets/images/background-image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card{
    color: #000000f8;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
}

.search{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    background: #ebfffc;
    margin-bottom: 10px;
    outline: 0;
    color: #555;
    height: 60px;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}    

#search-img{
    width: 60px;
}

.weather-icon{
    width: 270px;
    float: right;
}

.weather{
    display: none;
    text-align: left;
}

.weather .temp{
    margin-top: 50px;
    font-size: 80px;
    font-weight: 200;
}

.weather .city{
    margin-top: 10px;
    font-size: 45px;
    font-weight: 200;
}

.details{
    display: flex;
    justify-content: start;
    gap: 50px;
    padding: 5px;
    margin-top: 150px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 60px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 22px;
    margin-top: -6px;
}


.error{
    display: none;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}